@import '../../styles/vars';

.section-book-presentation {
  display: grid;
  grid-template-areas:
    'book author'
    'book title'
    'book rating'
    'book description'
    'book amazon'
    'book share';
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;

@media (max-width: $grid-md) {
  grid-template-areas:
  'author'
  'title'
  'rating'
  'book'
  'description'
  'amazon'
  'share';
  grid-template-columns: 1fr;
}

  &__book {
    grid-area: book;

    @media (max-width: $grid-md) {
      margin-bottom: 30px;
    }
  }

  &__author {
    grid-area: author;
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 8px;

    @media (max-width: $grid-md) {
      font-size: 24px;
    }
  }

  &__title {
    grid-area: title;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;

    @media (max-width: $grid-md) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__description {
    grid-area: description;
    margin-bottom: 34px;

    @media (max-width: $grid-md) {
      margin-bottom: 16px;
    }
  }

  &__amazon {
    grid-area: amazon;
    margin-left: -16px;
    margin-bottom: 48px;

    @media (max-width: $grid-md) {
      margin-bottom: 32px;
    }
  }

  &__share {
    font-weight: 500;
    font-size: 18px;
    grid-area: share;
  }

  &__share-text {
    margin-right: 60px;

    @media (max-width: $grid-md) {
      margin-bottom: 24px;
    }
  }
}

.share-icons {
  display: inline-flex;
  vertical-align: middle;

  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 28px;
    height: 28px;

    & + & {
      margin-left: 15px;
    }

    &--linkedin {
      background-image: url(../../images/icon-ginger.svg);
    }
    &--twitter {
      background-image: url(../../images/icon-1-ginger.svg);
    }
    &--facebook {
      background-image: url(../../images/icon-2-ginger.svg);
    }
    &--instagram {
      background-image: url(../../images/icon-3-ginger.svg);
    }
  }
}